
@import 'reset.css' layer(reset);
@layer theme {
  html {
    color-scheme: light dark;
    &[data-color-scheme="light"] {
      color-scheme: light;
    }
    &[data-color-scheme="dark"] {
      color-scheme: dark;
    }
    --light-base: oklch(94.611% 0.00011 271.152);
    --dark-base: oklch(16.516% 0.00626 285.66);
    --light-tint: color-mix(in srgb, var(--dark-base) 5%, transparent);
    --dark-tint: color-mix(in srgb, var(--light-base) 5%, transparent);
    --background: light-dark(var(--light-base), var(--dark-base));
    --text: light-dark(var(--dark-base),var(--light-base));
    --label-text: light-dark(var(--light-base),var(--dark-base)); /* inverting for button labels */
    --color-primary: light-dark(oklch(43.42% 0.21675 263.85), oklch(73.691% 0.15828 235.877));
    --color-accent: light-dark(oklch(50.507% 0.26327 263.785), oklch(81.613% 0.09747 247.36));

    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    
    --pad-md: 1rem;
    --pad-lg: 1.5rem;
    --pad-xl: 3rem;
  }
}
@layer utilities {
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
  .loading-blur {
    filter: blur(15px);
    min-width: 400px;
  }

  .text-sm {
    font-size: 0.875rem;
  }

  /* .mb-md {
    margin-bottom: calc(var(--pad-md) * 1.5);
  }
   */
  .padding-md {
    padding: var(--pad-md);
  }
  .padding-lg {
    padding: var(--pad-lg);
  }
   .aspect-video {
    aspect-ratio: 16 / 9;
  }
}
@layer {
  body {
    margin: 0; padding: 0;
    /* min-height: 100vh; */
    background-color: var(--background);
    color: var(--text);
    text-align: left;
  }

  * {
    box-sizing: border-box;
  }

  main {
    padding: 0;
    @media (min-width: 768px) {
      padding: calc(var(--pad-lg) + 0.5rem) var(--pad-lg) calc(var(--pad-xl) + var(--pad-md));
    }
  }
  .nav {
    position: relative;
    display: flex;
    justify-content: start;
    @media (min-width: 768px) {
      justify-content: flex-end;
    }
  }
  .nav-group {
    position: relative;
    margin: var(--pad-md); margin-bottom: 0;
    display: block;
    @media (min-width: 768px) {
      position: absolute;
      top: var(--pad-md);
      right: var(--pad-md);
      margin-top: 0;
      display: flex;
      align-items: center;
    }
  }
  .page-header {
    /* text-align: center; */
    padding: var(--pad-md);
    /* margin-bottom: var(--pad-xl); */
    display: grid;
    gap: 0;
    place-items: start;
  }
  /* h1 {
    margin: 0;
    font-size: clamp(2rem, 3vw, 2.75rem);
  }
  */
  h1, h2, h3, h4, h5, h6 {
    color: var(--text);
    margin: 0;
    font-weight: 600;
    line-height: 1.1;
  }
  p { 
    color: var(--text);
  }
  .metadata {
    font-weight: 500;
    font-family: 'IBM Plex Mono', monospace;
    font-size: smaller;
  }

  button {
    padding: 0.65rem 1.25rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--color-primary);
    color: var(--label-text);
    font-weight: 600;
    cursor: pointer;
    &:hover, &:focus {
      background-color: var(--color-accent);
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    /* gap: var(--pad-lg); */
  }

  a:not(.button){
    color: var(--color-accent)
  }
  .link {
    align-self: flex-start;
    font-weight: 600;
    color: var(--color-accent);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

}
